.hero {
  background: url("../img/hero-bg-img.jpg") no-repeat center / cover;
  min-height: 510px;
  padding-top: 49px;

  @include tablet {
    min-height: 425px;
  }

  &__container {
    @include mobile {
      @include flex-all-center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: var(--light-color);

    @include mobile {
      font-size: 35px;
      line-height: 40px;
    }
  }
}

div.hero__title {
  max-width: 41rem;
}
