.breadcrumb {
  &__list {
    @include flex-align-center;

    gap: 0 30px;
    padding: 17px 0;

    @include small-tablet {
      @include flex-all-center;

      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;

    @include small-tablet {
      font-size: 12px;
    }
  }

  &__link {
    color: var(--black-color);

    &--active {
      position: relative;
      color: var(--accent-color);

      ::after {
        content: "»";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(200%);
      }
    }
  }
}
