.catalog {
  &__inner {
    background-color: var(--accent-color);
    padding-top: 34px;
    padding-bottom: 115px;

    @include mobile {
      padding-bottom: 40px;
    }
  }

  &__btns {
    @include flex-all-center;
    gap: 35px;
    margin-bottom: 35px;

    @include mobile {
      gap: 15px;
      margin-bottom: 30px;
    }

    @include small-mobile {
      gap: 10px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--light-color);

    @include mobile {
      font-size: 14px;
    }

    @include small-mobile {
      font-size: 11px;
    }
  }
}
