.catalog {
  &__list {
    @include flex-all-center;
    gap: 18px 20px;
    flex-wrap: wrap;

    @include mobile {
      gap: 15px;
    }
  }

  &__link {
    @include flex-all-center;
    flex-direction: column;
    gap: 15px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    background-color: var(--light-color);
    padding: 20px 0 10px;
    width: 154px;
    height: 148px;

    @include small-mobile {
      font-size: 12px;
    }
  }

  &__text {
    max-width: 144px;
  }
}
