<div class="clients__inner">
  <div class="container">
    <ul class="clients__list list-reset">
      <li class="clients__item">
        <picture>
          <source srcset="./img/gazprom-img.avif" type="image/avif">
          <source srcset="./img/gazprom-img.webp" type="image/webp">
          <img loading="lazy" src="./img/gazprom-img.jpg" class="clients__img-1" width="185" height="65" alt="Газпром">
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source srcset="./img/alcoa-img.avif" type="image/avif">
          <source srcset="./img/alcoa-img.webp" type="image/webp">
          <img loading="lazy" src="./img/alcoa-img.jpg" class="clients__img-2" width="181" height="58" alt="Алкоа">
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source srcset="./img/rosatom-img.avif" type="image/avif">
          <source srcset="./img/rosatom-img.webp" type="image/webp">
          <img loading="lazy" src="./img/rosatom-img.jpg" class="clients__img-3" width="149" height="62" alt="Росатом">
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source srcset="./img/star-img.avif" type="image/avif">
          <source srcset="./img/star-img.webp" type="image/webp">
          <img loading="lazy" src="./img/star-img.jpg" class="clients__img-4" width="216" height="56" alt="Звезда">
        </picture>
      </li>
      <li class="clients__item">
        <picture>
          <source srcset="./img/transneft-img.avif" type="image/avif">
          <source srcset="./img/transneft-img.webp" type="image/webp">
          <img loading="lazy" src="./img/transneft-img.jpg" class="clients__img-5" width="234" height="78"
            alt="Транснефть">
        </picture>
      </li>
    </ul>
  </div>
</div>
