<div class="header__bottom">
  <div class="container">
    <nav class="nav header__bottom-nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="/" class="nav__link">
            <img loading="lazy" src="./img/home-icon.svg" class="nav__home-icon" width="15" height="15" alt="Дом">
          </a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link">
            Каталог
          </a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link">
            Наше производство
          </a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link">
            География поставок
          </a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link">
            О компании
          </a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link">
            Новости
          </a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
