<div class="header__middle">
  <div class="container header__middle-container">
    <ul class="header__middle-list list-reset">
      <li class="header__middle-item">
        <a href="tel:84994954692" class="header__middle-number">8 (499) 495-46-92</a>
        (Москва)
      </li>
      <li class="header__middle-item">
        <a href="tel:88463004290" class="header__middle-number">8 (846) 300-42-90</a>
        (Самара)
      </li>
      <li class="header__middle-item">
        <a href="tel:84217340510" class="header__middle-number">8 (4217) 34-05-10</a>
        (Комсомольск-на-Амуре)
      </li>
    </ul>
    <a href="/" class="header__middle-logo">
      <img loading="lazy" src="./img/icons/header-logo-icon.svg" class="header__middle-logo" width="308" height="79"
        alt="Логотип">
    </a>
    <div class="header__middle-right">
      <form class="header__middle-search">
        <input type="text" class="header__middle-input" name="search" required>
        <button type="submit" class="header__middle-btn"></button>
      </form>
      <a href="#" class="header__middle-cart">
        <img loading="lazy" src="./img/icons/cart-icon.svg" class="header__middle-cart-img" width="14" height="13"
          alt="Корзина">
      </a>
    </div>
  </div>
</div>
