html {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

input {
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width:  calc(var(--container-width) + (var(--container-padding) * 2));
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
