html {
  font-family: "Roboto", sans-serif;
  font-size: calc(100vw / 1920 * 10);
  box-sizing: border-box;
  height: 100%;

  @include small-desktop {
    font-size: calc(100vw / 1024 * 8);
  }

  @include tablet {
    font-size: calc(100vw / 768 * 8);
  }

  @include small-tablet {
    font-size: calc(100vw / 576 * 8);
  }

  @include mobile {
    font-size: calc(100vw / 420 * 8);
  }

  @include small-mobile {
    font-size: calc(100vw / 320 * 8);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
  min-width: 32rem;
  min-height: 100%;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

input {
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--light-color);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
