/* stylelint-disable */
:root {
  --container-small-width: 850px;
  --container-big-width: 1010px;
  --container-padding: 15px;

  @include tablet {
    --container-small-width: 800px;
    --container-big-width: 900px;
  }

  // colors
  --light-color: #fff;
  --black-color: #000;
  --black2-color: #43303d;
  --accent-color: #c50c33;
  --bg-gradient-color: linear-gradient(
    90deg,
    #db0141 17.13%,
    #bc0941 21.62%,
    #921541 28.8%,
    #6f1e42 36.89%,
    #542642 44.97%,
    #412b42 52.16%,
    #352e42 60.24%,
    #323043 69.22%,
    #db0141 88.98%
  );
  --grey-color: #ece9e9;
  --grey2-color: #f4f3f3;
  --grey3-color: #8b8787;
  --footer-bg-color: #323043;
  --border-gradient-color: linear-gradient(90deg, #c50c33 14.74%, #323043 94.33%);
}
