<div class="container leaders__inner">
  <ul class="leaders__list list-reset">
    <li class="leaders__item">
      <div class="leaders__decor">
        <div class="leaders__decor-text">
          Лидеры продаж
        </div>
      </div>
      <div class="leaders__descr">
        Пирометр Extech 42510A / инфракрасный мини-термометр с диапазоном от -50°С до 650°С,
        12:1
      </div>
      <a href="#" class="leaders__link more-button">подробнее</a>
    </li>
    <li class="leaders__item">
      <div class="leaders__decor">
        <div class="leaders__decor-text">
          Лидеры продаж
        </div>
      </div>
      <a href="#" class="leaders__link more-button">подробнее</a>
    </li>
    <li class="leaders__item">
      <div class="leaders__decor">
        <div class="leaders__decor-text">
          Лидеры продаж
        </div>
      </div>
      <a href="#" class="leaders__link more-button">подробнее</a>
    </li>
    <li class="leaders__item">
      <div class="leaders__decor">
        <div class="leaders__decor-text">
          Лидеры продаж
        </div>
      </div>
      <a href="#" class="leaders__link more-button">подробнее</a>
    </li>
  </ul>
</div>
