<ul class="cart__list list-reset">
  <li class="cart__item">
    <div class="cart__item-left">
      <picture>
        <source srcset="./img/cart/cart-item-img.avif" type="image/avif" />
        <source srcset="./img/cart/cart-item-img.webp" type="image/webp" />
        <img loading="lazy" src="./img/cart/cart-item-img.jpg" width="81" height="81" alt="Измеритель температуры" />
      </picture>
      <div class="cart__item-title">CENTER 301 Измеритель температуры</div>
    </div>
    <div class="cart__item-center">
      <div class="cart__item-counter">
        <button class="cart__item-minus" aria-label="Минус">-</button>
        <div class="cart__item-number">1</div>
        <button class="cart__item-plus" aria-label="Плюс">+</button>
      </div>
      <button class="cart__item-delete">Удалить</button>
    </div>
    <div class="cart__item-info">
      цена от производителя
      <div class="cart__item-price"><span>600 000</span> р</div>
    </div>
  </li>
</ul>
