<div class="cart__details">
  <div class="cart__details-title">Детали заказа</div>
  <ul class="cart__details-list list-reset">
    <li class="cart__details-item">
      <div class="cart__details-item-numb">1 товар</div>
      <div class="cart__details-item-price">.......<span>0000000</span> ₽</div>
    </li>
  </ul>
  <div class="cart__details-result">
    Итого
    <div class="cart__details-result-price">..........<span>0000000</span> ₽</div>
  </div>
  <a href="#" class="cart__details-btn more-button">перейти к оформлению</a>
</div>
