<div class="footer__right">
  <div class="footer__right-title">свяжитесь с нами:</div>
  <ul class="footer__contacts list-reset">
    <li class="footer__contacts-item">
      <a href="#" class="footer__contacts-link">
        <img loading="lazy" src="./img/icons/footer/tg-icon.svg" width="26" height="28" alt="Телеграм">
      </a>
    </li>
    <li class="footer__contacts-item">
      <a href="#" class="footer__contacts-link">
        <img loading="lazy" src="./img/icons/footer/ws-icon.svg" width="26" height="28" alt="Ватсап">
      </a>
    </li>
    <li class="footer__contacts-item">
      <a href="#" class="footer__contacts-link">
        <img loading="lazy" src="./img/icons/footer/tel-icon.svg" width="26" height="28" alt="Телефон">
      </a>
    </li>
    <li class="footer__contacts-item">
      <a href="#" class="footer__contacts-link">
        <img loading="lazy" src="./img/icons/footer/vk-icon.svg" width="26" height="28" alt="ВКонтакте">
      </a>
    </li>
    <li class="footer__contacts-item">
      <a href="#" class="footer__contacts-link">
        <img loading="lazy" src="./img/icons/footer/tw-icon.svg" width="26" height="28" alt="Твитер">
      </a>
    </li>
    <li class="footer__contacts-item">
      <a href="#" class="footer__contacts-link">
        <img loading="lazy" src="./img/icons/footer/fb-icon.svg" width="26" height="28" alt="Фейсбук">
      </a>
    </li>
    <li class="footer__contacts-item">
      <a href="#" class="footer__contacts-link">
        <img loading="lazy" src="./img/icons/footer/yt-icon.svg" width="26" height="28" alt="Ютуб">
      </a>
    </li>
  </ul>
</div>
