<div class="footer__middle">
  <ul class="footer__list list-reset">
    <li class="footer__item">
      <a href="#" class="footer__link">Главная</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link">Каталог</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link">Наше производство</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link">География наших поставок</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link">О компании</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link">Новости</a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link">Контакты</a>
    </li>
  </ul>
  <ul class="footer__list list-reset">
    <div class="footer__item">
      <div class="footer__link">Адреса и контакты:</div>
    </div>
    <li class="footer__item">
      <img loading="lazy" src="./img/icons/footer/phone-icon.svg" class="footer__middle-icon" width="10" height="13"
        alt="Телефон">
      <a href="tel:88463004290" class="footer__link">8 (846) 300-42-90</a>
    </li>
    <li class="footer__item">
      <img loading="lazy" src="./img/icons/footer/mark-icon.svg" class="footer__middle-icon" width="10" height="13"
        alt="Метка">
      <div href="#" class="footer__link">г. Самара, ул. Чернореченская, д. 6</div>
    </li>
    <li class="footer__item">
      <img loading="lazy" src="./img/icons/footer/mail-icon.svg" class="footer__middle-icon" width="12" height="9"
        alt="Почта">
      <a href="mailto:info@ndt-innovation.ru" class="footer__link">info@ndt-innovation.ru</a>
    </li>
    <li class="footer__item">
      <img loading="lazy" src="./img/icons/footer/phone-icon.svg" class="footer__middle-icon" width="10" height="13"
        alt="Телефон">
      <a href="tel:84994954692" class="footer__link">8 (499) 495-46-92</a>
    </li>
    <li class="footer__item">
      <img loading="lazy" src="./img/icons/footer/mark-icon.svg" class="footer__middle-icon" width="10" height="13"
        alt="Метка">
      <div href="#" class="footer__link">О г. Москва, Щелковское шоссе, д. 13</div>
    </li>
    <li class="footer__item">
      <img loading="lazy" src="./img/icons/footer/mail-icon.svg" class="footer__middle-icon" width="12" height="9"
        alt="Почта">
      <a href="mailto:info@ndt-innovation.ru" class="footer__link">info@ndt-innovation.ru</a>
    </li>
  </ul>
</div>
