<ul class="mobile-laboratories__breadcrumbs list-reset breadcrumb__list">
  <li class="breabcrumb__item">
    <a href="#" class="breadcrumb__link breadcrumb__link--active">На главную<span class="breabcrumb-arrow"></span></a>
  </li>
  <li class="breabcrumb__item">
    <a href="#" class="breadcrumb__link breadcrumb__link--active">Каталог<span class="breabcrumb-arrow"></span></a>
  </li>
  <li class="breabcrumb__item">
    <a href="#" class="breadcrumb__link breadcrumb__link--active">По назначению<span class="breabcrumb-arrow"></span></a>
  </li>
  <li class="breabcrumb__item">
    <a href="#" class="breadcrumb__link">Передвижные лаборатории</a>
  </li>
</ul>