<div class="mobile-laboratories__inner">
  <div class="container-small mobile-laboratories__container">
    <ul class="mobile-laboratories__products list-reset">
      <li class="mobile-laboratories__product">
        <picture>
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/mobile-laboratories/grp-ultrasonic-unit.jpg"
            class="mobile-laboratories__product-img"
            width="133"
            height="132"
            alt="Дозиметры"
          />
        </picture>
        <h3 class="mobile-laboratories__product-title">
          Дозиметры
        </h3>
        <a href="#" class="mobile-laboratories__product-button"
          >добавить в корзину</a
        >
      </li>
      <li class="mobile-laboratories__product">
        <picture>
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/mobile-laboratories/grp-ultrasonic-unit.jpg"
            class="mobile-laboratories__product-img"
            width="133"
            height="132"
            alt="Дозиметры"
          />
        </picture>
        <h3 class="mobile-laboratories__product-title">
          Дозиметры
        </h3>
        <a href="#" class="mobile-laboratories__product-button"
          >уточнить стоимость</a
        >
      </li>
      <li class="mobile-laboratories__product">
        <picture>
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/mobile-laboratories/grp-ultrasonic-unit.jpg"
            class="mobile-laboratories__product-img"
            width="133"
            height="132"
            alt="Дозиметры"
          />
        </picture>
        <h3 class="mobile-laboratories__product-title">
          Дозиметры
        </h3>
        <a href="#" class="mobile-laboratories__product-button"
          >уточнить стоимость</a
        >
      </li>
      <li class="mobile-laboratories__product">
        <picture>
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/mobile-laboratories/grp-ultrasonic-unit.jpg"
            class="mobile-laboratories__product-img"
            width="133"
            height="132"
            alt="Дозиметры"
          />
        </picture>
        <h3 class="mobile-laboratories__product-title">
          Дозиметры
        </h3>
        <a href="#" class="mobile-laboratories__product-button"
          >уточнить стоимость</a
        >
      </li>
      <li class="mobile-laboratories__product">
        <picture>
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/mobile-laboratories/grp-ultrasonic-unit.jpg"
            class="mobile-laboratories__product-img"
            width="133"
            height="132"
            alt="Дозиметры"
          />
        </picture>
        <h3 class="mobile-laboratories__product-title">
          Дозиметры
        </h3>
        <a href="#" class="mobile-laboratories__product-button"
          >уточнить стоимость</a
        >
      </li>
      <li class="mobile-laboratories__product">
        <picture>
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/mobile-laboratories/grp-ultrasonic-unit.jpg"
            class="mobile-laboratories__product-img"
            width="133"
            height="132"
            alt="Дозиметры"
          />
        </picture>
        <h3 class="mobile-laboratories__product-title">
          Дозиметры
        </h3>
        <a href="#" class="mobile-laboratories__product-button"
          >уточнить стоимость</a
        >
      </li>
      <li class="mobile-laboratories__product">
        <picture>
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/mobile-laboratories/grp-ultrasonic-unit.jpg"
            class="mobile-laboratories__product-img"
            width="133"
            height="133"
            alt="Дозиметры"
          />
        </picture>
        <h3 class="mobile-laboratories__product-title">
          Дозиметры
        </h3>
        <a href="#" class="mobile-laboratories__product-button"
          >уточнить стоимость</a
        >
      </li>
      <li class="mobile-laboratories__product">
        <picture>
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/mobile-laboratories/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/mobile-laboratories/grp-ultrasonic-unit.jpg"
            class="mobile-laboratories__product-img"
            width="133"
            height="132"
            alt="Дозиметры"
          />
        </picture>
        <h3 class="mobile-laboratories__product-title">
          Дозиметры
        </h3>
        <a href="#" class="mobile-laboratories__product-button"
          >уточнить стоимость</a
        >
      </li>
    </ul>
  </div>
</div>
