<div class="mobile-laboratories__description">
  <div class="container-small">
    <h1 class="mobile-laboratories__title">
      Оборудование для радиографического (рентгеновского) контроля
    </h1>
    <p class="mobile-laboratories__descr">
      Рентгеновский контроль является наиболее достоверным способом контроля
      качества сварных швов в металлических конструкциях, трубопроводах и
      стальных изделиях. Метод получил широкое распространение в различных
      сферах современной промышленности благодаря своей надежности и точности.
    </p>
    <p class="mobile-laboratories__descr">
      Рентгеновский неразрушающий контроль позволяет выявлять скрытые дефекты и
      обозначить относительные и абсолютные размеры брака. Метод эффективно
      используется для: проверки сварных швов в процессе изготовления, монтажа и
      последующей эксплуатации различных металлических конструкций; обнаружения
      непроваренных мест, микротрещин и раковин; выявления прожогов в сварных и
      литых стальных изделиях.
    </p>
  </div>
</div>
