<ul class="news__list list-reset">
  <li class="news__item">
    <div class="news__item-left"></div>
    <div class="news__item-right">
      <div class="news__item-date">18 июля 2022</div>
      <div class="news__item-title">
        Уфа Дефектоскопист-2022
      </div>
      <div class="news__item-text">
        Пирометр Extech 42510A / инфракрасный мини-термометр с диапазоном от -50°С до 650°С, 12:1
      </div>
      <a href="#" class="news__item-link more-button">подробнее</a>
    </div>
  </li>
  <li class="news__item">
    <div class="news__item-left"></div>
    <div class="news__item-right">
      <div class="news__item-date">18 июля 2022</div>
      <div class="news__item-title">Уфа Дефектоскопист-2022</div>
      <div class="news__item-text">
        Пирометр Extech 42510A / инфракрасный мини-термометр с диапазоном от -50°С до 650°С, 12:1
      </div>
      <a href="#" class="news__item-link more-button">подробнее</a>
    </div>
  </li>
  <li class="news__item">
    <div class="news__item-left"></div>
    <div class="news__item-right">
      <div class="news__item-date">18 июля 2022</div>
      <div class="news__item-title">Уфа Дефектоскопист-2022</div>
      <div class="news__item-text">
        Пирометр Extech 42510A / инфракрасный мини-термометр с диапазоном от -50°С до 650°С, 12:1
      </div>
      <a href="#" class="news__item-link more-button">подробнее</a>
    </div>
  </li>
  <li class="news__item">
    <div class="news__item-left"></div>
    <div class="news__item-right">
      <div class="news__item-date">18 июля 2022</div>
      <div class="news__item-title">Уфа Дефектоскопист-2022</div>
      <div class="news__item-text">
        Пирометр Extech 42510A / инфракрасный мини-термометр с диапазоном от -50°С до 650°С, 12:1
      </div>
      <a href="#" class="news__item-link more-button">подробнее</a>
    </div>
  </li>
</ul>
