.header__middle {
  padding-top: 27px;
  padding-bottom: 20px;

  &-container {
    @include flex-all-sb;

    @include small-tablet {
      flex-direction: column;
      gap: 15px;
    }
  }

  &-list {
    @include flex-column;
    gap: 13px;

    @include small-tablet {
      flex-direction: row;
      gap: 25px;
    }

    @include small-mobile {
      flex-direction: column;
      gap: 10px;
    }
  }

  &-item {
    @include flex-column;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: var(--black-color);
  }

  &-number {
    color: var(--accent-color);
  }

  &-logo {
    @include small-tablet {
      display: none;
    }
  }

  &-right {
    @include flex-column;
    align-items: flex-end;
    gap: 7px;

    @include small-tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  &-search {
    position: relative;
  }

  &-input {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    border: 1px solid #e3e3e3;
    width: 157px;
    height: 21px;
  }

  &-btn {
    position: absolute;
    top: 3px;
    right: 6px;
    background: url("../img/icons/search-icon.svg") no-repeat;
    background-size: cover;
    width: 14px;
    height: 17px;
  }

  &-cart {
    display: inline-flex;
    justify-content: flex-end;
    background-color: var(--accent-color);
    width: 40px;
    padding: 3px 5px;
  }
}
