.header__top {
  border-bottom: 1px solid #f4f3f3;
  padding-top: 14px;
  padding-bottom: 3px;
  background-color: var(--light-color);

  &-container {
    @include flex-all-center;

    gap: 25px;
  }

  &-organization {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: var(--black-color);
  }
}
