.header__top {
  padding-top: 14px;
  padding-bottom: 3px;
  border-bottom: 1px solid #f4f3f3;

  &-container {
    @include flex-all-center;
    gap: 25px;
  }

  &-organization {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--black-color);
  }
}
