.nav {
  @include small-tablet {
    position: fixed;
    inset: 0;
    background-color: var(--accent-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s ease-out, visibility .25s ease-out;
    overflow-y: auto;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    @include flex-align-center;
    gap: 30px;

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 20px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: var(--light-color);

    @include small-tablet {
      display: block;
      font-size: 20px;
      line-height: 200%;
    }
  }
}
