<div class="delivery-geography__slider">
  <div class="container-small delivery-geography__container">
    <div class="splide delivery-geography__splide" id="delivery-geography-slider">
      <div class="splide__track">
        <ul class="splide__list delivery-geography__slider-list">
          <li class="splide__slide delivery-geography__slider-slide">
            <picture>
              <source
                srcset="./img/delivery-geography/delivery-geography-img-1.avif"
                type="image/avif"
              />
              <source
                srcset="./img/delivery-geography/delivery-geography-img-1.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/delivery-geography/delivery-geography-img-1.jpg"
                class="delivery-geography__slider-img"
                width="188"
                height="272"
                alt=""
              />
            </picture>
          </li>
          <li class="splide__slide delivery-geography__slider-slide">
            <picture>
              <source
                srcset="./img/delivery-geography/delivery-geography-img-2.avif"
                type="image/avif"
              />
              <source
                srcset="./img/delivery-geography/delivery-geography-img-2.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/delivery-geography/delivery-geography-img-2.jpg"
                class="delivery-geography__slider-img"
                width="188"
                height="272"
                alt=""
              />
            </picture>
          </li>
          <li class="splide__slide delivery-geography__slider-slide">
            <picture>
              <source
                srcset="./img/delivery-geography/delivery-geography-img-3.avif"
                type="image/avif"
              />
              <source
                srcset="./img/delivery-geography/delivery-geography-img-3.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/delivery-geography/delivery-geography-img-3.jpg"
                class="delivery-geography__slider-img"
                width="188"
                height="272"
                alt=""
              />
            </picture>
          </li>
          <li class="splide__slide delivery-geography__slider-slide">
            <picture>
              <source
                srcset="./img/delivery-geography/delivery-geography-img-1.avif"
                type="image/avif"
              />
              <source
                srcset="./img/delivery-geography/delivery-geography-img-1.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/delivery-geography/delivery-geography-img-1.jpg"
                class="delivery-geography__slider-img"
                width="188"
                height="272"
                alt=""
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
