<div class="appointment__inner">
  <div class="container appointment__container">
    <ul class="appointment__list list-reset">
      <li class="appointment__item">
        <picture>
          <source srcset="./img/appointment/appointment-img-1.avif" type="image/avif">
          <source srcset="./img/appointment/appointment-img-1.webp" type="image/webp">
          <img loading="lazy" src="./img/appointment/appointment-img-1.jpg" class="appointment__item-img" width="266"
            height="161" alt="Автоматизированный контроль на производстве">
        </picture>
        <div class="appointment__item-content">
          Автоматизированный контроль на производстве
        </div>
      </li>
        <li class="appointment__item">
        <picture>
          <source srcset="./img/appointment/appointment-img-1.avif" type="image/avif">
          <source srcset="./img/appointment/appointment-img-1.webp" type="image/webp">
          <img loading="lazy" src="./img/appointment/appointment-img-1.jpg" class="appointment__item-img" width="266"
            height="161" alt="Автоматизированный контроль на производстве">
        </picture>
        <div class="appointment__item-content">
          Автоматизированный контроль на производстве
        </div>
      </li>
        <li class="appointment__item">
        <picture>
          <source srcset="./img/appointment/appointment-img-1.avif" type="image/avif">
          <source srcset="./img/appointment/appointment-img-1.webp" type="image/webp">
          <img loading="lazy" src="./img/appointment/appointment-img-1.jpg" class="appointment__item-img" width="266"
            height="161" alt="Автоматизированный контроль на производстве">
        </picture>
        <div class="appointment__item-content">
          Автоматизированный контроль на производстве
        </div>
      </li>
        <li class="appointment__item">
        <picture>
          <source srcset="./img/appointment/appointment-img-1.avif" type="image/avif">
          <source srcset="./img/appointment/appointment-img-1.webp" type="image/webp">
          <img loading="lazy" src="./img/appointment/appointment-img-1.jpg" class="appointment__item-img" width="266"
            height="161" alt="Автоматизированный контроль на производстве">
        </picture>
        <div class="appointment__item-content">
          Автоматизированный контроль на производстве
        </div>
      </li>
        <li class="appointment__item">
        <picture>
          <source srcset="./img/appointment/appointment-img-1.avif" type="image/avif">
          <source srcset="./img/appointment/appointment-img-1.webp" type="image/webp">
          <img loading="lazy" src="./img/appointment/appointment-img-1.jpg" class="appointment__item-img" width="266"
            height="161" alt="Автоматизированный контроль на производстве">
        </picture>
        <div class="appointment__item-content">
          Автоматизированный контроль на производстве
        </div>
      </li>
        <li class="appointment__item">
        <picture>
          <source srcset="./img/appointment/appointment-img-1.avif" type="image/avif">
          <source srcset="./img/appointment/appointment-img-1.webp" type="image/webp">
          <img loading="lazy" src="./img/appointment/appointment-img-1.jpg" class="appointment__item-img" width="266"
            height="161" alt="Автоматизированный контроль на производстве">
        </picture>
        <div class="appointment__item-content">
          Автоматизированный контроль на производстве
        </div>
      </li>
        <li class="appointment__item">
        <picture>
          <source srcset="./img/appointment/appointment-img-1.avif" type="image/avif">
          <source srcset="./img/appointment/appointment-img-1.webp" type="image/webp">
          <img loading="lazy" src="./img/appointment/appointment-img-1.jpg" class="appointment__item-img" width="266"
            height="161" alt="Автоматизированный контроль на производстве">
        </picture>
        <div class="appointment__item-content">
          Автоматизированный контроль на производстве
        </div>
      </li>
        <li class="appointment__item">
        <picture>
          <source srcset="./img/appointment/appointment-img-1.avif" type="image/avif">
          <source srcset="./img/appointment/appointment-img-1.webp" type="image/webp">
          <img loading="lazy" src="./img/appointment/appointment-img-1.jpg" class="appointment__item-img" width="266"
            height="161" alt="Автоматизированный контроль на производстве">
        </picture>
        <div class="appointment__item-content">
          Автоматизированный контроль на производстве
        </div>
      </li>
        <li class="appointment__item">
        <picture>
          <source srcset="./img/appointment/appointment-img-1.avif" type="image/avif">
          <source srcset="./img/appointment/appointment-img-1.webp" type="image/webp">
          <img loading="lazy" src="./img/appointment/appointment-img-1.jpg" class="appointment__item-img" width="266"
            height="161" alt="Автоматизированный контроль на производстве">
        </picture>
        <div class="appointment__item-content">
          Автоматизированный контроль на производстве
        </div>
      </li>
    </ul>
  </div>
</div>
