<div class="product-page__inner">
  <div class="product-page__inner-top">
    <div class="container-big">
      <h1 class="product-page__title">Передвижные лаборатории на базе блок-контейнера (6, 8, 10 и 12м)</h1>
      <div class="product-page__data">
        <div class="product-page__slider">
          <div class="splide splide-main" id="splide-main-product-page">
            <div class="splide__track">
              <ul class="splide__list list-reset splide-main__list">
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source srcset="./img/production/production-car-2.avif" type="image/avif" />
                    <source srcset="./img/production/production-car-2.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-2.jpg"
                      class="splide__main-img"
                      width="277"
                      height="177"
                      alt="Машина"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source srcset="./img/production/production-car-3.avif" type="image/avif" />
                    <source srcset="./img/production/production-car-3.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide__main-img"
                      width="277"
                      height="177"
                      alt="Машина"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source srcset="./img/production/production-car-3.avif" type="image/avif" />
                    <source srcset="./img/production/production-car-3.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide__main-img"
                      width="277"
                      height="177"
                      alt="Машина"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source srcset="./img/production/production-car-3.avif" type="image/avif" />
                    <source srcset="./img/production/production-car-3.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide__main-img"
                      width="277"
                      height="177"
                      alt="Машина"
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <div class="splide splide-navigation" id="splide-navigation-product-page">
            <div class="splide__track">
              <ul class="splide__list list-reset splide-navigation__list">
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source srcset="./img/production/production-car-2.avif" type="image/avif" />
                    <source srcset="./img/production/production-car-2.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-2.jpg"
                      class="splide-navigation__silde-img"
                      alt="Машина"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source srcset="./img/production/production-car-3.avif" type="image/avif" />
                    <source srcset="./img/production/production-car-3.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide-navigation__silde-img"
                      alt="Машина"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source srcset="./img/production/production-car-3.avif" type="image/avif" />
                    <source srcset="./img/production/production-car-3.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide-navigation__silde-img"
                      alt="Машина"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source srcset="./img/production/production-car-3.avif" type="image/avif" />
                    <source srcset="./img/production/production-car-3.webp" type="image/webp" />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide-navigation__silde-img"
                      alt="Машина"
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="product-page__description">
          <h3 class="product-page__description-title">описание</h3>
          <p class="product-page__descr">
            Специалисты компании проектируют и изготавливают мобильные и стационарные диагностические комплексы с полным
            оснащением для проведения механических испытаний. Данные диагностические комплексы созданы для эксплуатации
            в крайне трудных климатических условиях, снабжены новейшим оборудованием и имеют прекрасные условия для
            работы операторов.
          </p>
          <h3 class="product-page__description-title">харектиристика</h3>
          <p class="product-page__descr product-page__descr-characteristic">
            Специалисты компании проектируют и изготавливают мобильные и стационарные диагностические комплексы с полным
            оснащением для проведения механических испытаний. Данные диагностические комплексы созданы для эксплуатации
            в крайне трудных климатических условиях, снабжены новейшим оборудованием и имеют прекрасные условия для
            работы операторов.
          </p>
        </div>
        <div class="product-page__prices">
          <div class="product-page__price-description">
            <span class="product-page__price-title">цена от производителя</span>
            <span class="product-page__price">600 000 р</span>
            <a href="#" class="product-page__price-button">добавить в корзину</a>
          </div>
          <div class="product-page__links">
            <div class="product-page__links-title">свяжитесь с нами:</div>
            <ul class="product-page__contacts list-reset">
              <li class="product-page__contacts-item">
                <a href="#" class="product-page__contacts-link">
                  <img
                    loading="lazy"
                    src="./img/icons/product-page/tg-icon.svg"
                    width="25"
                    height="28"
                    alt="Телеграм"
                  />
                </a>
              </li>
              <li class="product-page__contacts-item">
                <a href="#" class="product-page__contacts-link">
                  <img loading="lazy" src="./img/icons/product-page/wa-icon.svg" width="25" height="28" alt="Ватсап" />
                </a>
              </li>
              <li class="product-page__contacts-item">
                <a href="#" class="product-page__contacts-link">
                  <img
                    loading="lazy"
                    src="./img/icons/product-page/tel-icon.svg"
                    width="25"
                    height="28"
                    alt="Телефон"
                  />
                </a>
              </li>
              <li class="product-page__contacts-item">
                <a href="#" class="product-page__contacts-link">
                  <img
                    loading="lazy"
                    src="./img/icons/product-page/vk-icon.svg"
                    width="25"
                    height="28"
                    alt="ВКонтакте"
                  />
                </a>
              </li>
              <li class="product-page__contacts-item">
                <a href="#" class="product-page__contacts-link">
                  <img loading="lazy" src="./img/icons/product-page/tw-icon.svg" width="25" height="28" alt="Твитер" />
                </a>
              </li>
              <li class="product-page__contacts-item">
                <a href="#" class="product-page__contacts-link">
                  <img loading="lazy" src="./img/icons/product-page/fb-icon.svg" width="25" height="28" alt="Фейсбук" />
                </a>
              </li>
              <li class="product-page__contacts-item">
                <a href="#" class="product-page__contacts-link">
                  <img loading="lazy" src="./img/icons/product-page/yt-icon.svg" width="25" height="28" alt="Ютуб" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-small">
    <div class="product-page__tabs">
      <ul class="product-page__tabs-list list-reset">
        <li class="product-page__tabs-item">
          <button class="product-page__tabs-btn product-page__tabs-btn--active" data-tabs-path="descr">Описание</button>
        </li>
        <li class="product-page__tabs-item">
          <button class="product-page__tabs-btn" data-tabs-path="features">Особенности</button>
        </li>
        <li class="product-page__tabs-item">
          <button class="product-page__tabs-btn" data-tabs-path="characteristics">Характеристики</button>
        </li>
        <li class="product-page__tabs-item">
          <button class="product-page__tabs-btn" data-tabs-path="bundle">Комплектация</button>
        </li>
        <li class="product-page__tabs-item">
          <button class="product-page__tabs-btn" data-tabs-path="delivery">Доставка</button>
        </li>
      </ul>
      <div class="product-page__tabs-contents">
        <div class="product-page__tabs-content" data-tabs-target="descr">
          Специалисты компании проектируют и изготавливают мобильные и стационарные диагностические комплексы с полным
          оснащением для проведения механических испытаний. Данные диагностические комплексы созданы для эксплуатации в
          крайне трудных климатических условиях, снабжены новейшим оборудованием и имеют прекрасные условия для работы
          операторов.
        </div>
        <div class="product-page__tabs-content" data-tabs-target="features">
          Специалисты компании проектируют и изготавливают мобильные и стационарные диагностические комплексы с полным
          оснащением для проведения механических испытаний. Данные диагностические комплексы созданы для эксплуатации в
          крайне трудных климатических условиях, снабжены новейшим оборудованием и имеют прекрасные условия для работы
          операторов.
        </div>
        <div class="product-page__tabs-content" data-tabs-target="characteristics">
          Специалисты компании проектируют и изготавливают мобильные и стационарные диагностические комплексы с полным
          оснащением для проведения механических испытаний. Данные диагностические комплексы созданы для эксплуатации в
          крайне трудных климатических условиях, снабжены новейшим оборудованием и имеют прекрасные условия для работы
          операторов.
        </div>
        <div class="product-page__tabs-content" data-tabs-target="bundle">
          Специалисты компании проектируют и изготавливают мобильные и стационарные диагностические комплексы с полным
          оснащением для проведения механических испытаний. Данные диагностические комплексы созданы для эксплуатации в
          крайне трудных климатических условиях, снабжены новейшим оборудованием и имеют прекрасные условия для работы
          операторов.
        </div>
        <div class="product-page__tabs-content" data-tabs-target="delivery">
          Специалисты компании проектируют и изготавливают мобильные и стационарные диагностические комплексы с полным
          оснащением для проведения механических испытаний. Данные диагностические комплексы созданы для эксплуатации в
          крайне трудных климатических условиях, снабжены новейшим оборудованием и имеют прекрасные условия для работы
          операторов.
        </div>
      </div>
    </div>
  </div>
</div>
