.news {
  background-color: var(--accent-color);

  &__container {
    padding-top: 65px;
    padding-bottom: 79px;
  }

  &__list {
    @include flex-all-center;

    gap: 15px 20px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    max-width: 430px;
    background-color: var(--light-color);

    &-left {
      width: 256px;

      @include mobile {
        width: 100%;
        min-height: 140px;
      }
    }

    &-right {
      padding: 25px 20px 31px;
      max-width: 174px;

      @include mobile {
        padding: 20px;
        max-width: 100%;
      }
    }

    &-date {
      margin-bottom: 17px;
      color: var(--accent-color);

      @include mobile {
        margin-bottom: 10px;
      }
    }

    &-title {
      margin-bottom: 10px;
      word-wrap: break-word;
      color: var(--black-color);
    }

    &-text {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: var(--black-color);
    }

    &-date,
    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }

    @include mobile {
      flex-direction: column;
    }
  }
}
