.leaders {
  background-color: var(--grey-color);

  &__inner {
    padding-top: 62px;
    padding-bottom: 86px;

    @include mobile {
      padding-top: 32px;
      padding-bottom: 46px;
    }
  }

  &__list {
    @include flex-all-center;
    gap: 36px;
    flex-wrap: wrap;

    @include mobile {
      gap: 15px;
    }
  }

  &__item {
    position: relative;
    @include flex-column;
    justify-content: flex-end;
    background-color: var(--light-color);
    border: 1px solid var(--accent-color);
    text-align: center;
    width: 176px;
    min-height: 268px;
    padding: 25px 15px;
  }

  &__decor {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    @include flex-all-center;
    font-weight: 700;
    width: 108px;
    height: 56px;
    background: url("../img/icons/decor-icon.svg") no-repeat center / cover;

    &-text {
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      color: var(--light-color);
      max-width: 66px;
    }
  }

  &__descr {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: var(--black-color);
    margin-bottom: 5px;
  }
}
