<ul class="catalog__list list-reset">
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-1-icon.svg" class="catalog__icon-1" width="117" height="71"
        alt="Мобильные лаборатории">
      <span class="catalog__text">
        Мобильные лаборатории
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-2-icon.svg" class="catalog__icon-2" width="77" height="77"
        alt="Рентгеновский контроль">
      <span class="catalog__text">
        Рентгеновский контроль
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-3-icon.svg" class="catalog__icon-3" width="85" height="80"
        alt="Ультразвуковой контроль">
      <span class="catalog__text">
        Ультразвуковой контроль
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-4-icon.svg" class="catalog__icon-4" width="85" height="80"
        alt="Вибродиагностика">
      <span class="catalog__text">
        Вибродиагностика
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-5-icon.svg" class="catalog__icon-5" width="90" height="90"
        alt="Вихретоковый контроль">
      <span class="catalog__text">
        Вихретоковый контроль
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-6-icon.svg" class="catalog__icon-6" width="41" height="75"
        alt="Тепловой и тепловизионный контроль">
      <span class="catalog__text">
        Тепловой и тепловизионный контроль
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-7-icon.svg" class="catalog__icon-7" width="115" height="76"
        alt="Контроль бетона">
      <span class="catalog__text">
        Контроль бетона
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-8-icon.svg" class="catalog__icon-8" width="61" height="82"
        alt="Контроль качества покрытий">
      <span class="catalog__text">
        Контроль качества покрытий
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-9-icon.svg" class="catalog__icon-9" width="81" height="80"
        alt="Акустический контроль">
      <span class="catalog__text">
        Акустический контроль
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-10-icon.svg" class="catalog__icon-10" width="87" height="87"
        alt="Анализ металлов и сплавов">
      <span class="catalog__text">
        Анализ металлов и сплавов
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-11-icon.svg" class="catalog__icon-11" width="103" height="85"
        alt="Визуальный контроль">
      <span class="catalog__text">
        Визуальный контроль
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-12-icon.svg" class="catalog__icon-12" width="49" height="86"
        alt="Капиллярный контроль">
      <span class="catalog__text">
        Капиллярный контроль
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-13-icon.svg" class="catalog__icon-13" width="68" height="87"
        alt="Контроль герметичности">
      <span class="catalog__text">
        Контроль герметичности
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-14-icon.svg" class="catalog__icon-14" width="85" height="85"
        alt="Контроль изоляции">
      <span class="catalog__text">
        Контроль изоляции
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-15-icon.svg" class="catalog__icon-15" width="81" height="81"
        alt="Контроль среды">
      <span class="catalog__text">
        Контроль среды
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-16-icon.svg" class="catalog__icon-16" width="75" height="90"
        alt="Контроль твёрдости">
      <span class="catalog__text">
        Контроль твёрдости
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-17-icon.svg" class="catalog__icon-17" width="77" height="94"
        alt="Контроль твёрдости">
      <span class="catalog__text">
        Контроль твёрдости
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-18-icon.svg" class="catalog__icon-18" width="80" height="87"
        alt="Магнитный контроль">
      <span class="catalog__text">
        Магнитный контроль
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-19-icon.svg" class="catalog__icon-19" width="83" height="84"
        alt="Разрушающий контроль">
      <span class="catalog__text">
        Разрушающий контроль
      </span>
    </a>
  </li>
  <li class="catalog__item">
    <a href="#" class="catalog__link">
      <img loading="lazy" src="./img/icons/catalog/catalog-20-icon.svg" class="catalog__icon-20" width="87" height="88"
        alt="Химический анализ">
      <span class="catalog__text">
        Химический анализ
      </span>
    </a>
  </li>
</ul>
