<div class="type__inner">
  <div class="container-small">
    <ul class="type__list catalog__list list-reset">
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-1-icon.svg" class="type__icon-1" width="75"
            height="70" alt="Автоматизированные установки">
          <span class="type__text type__text--small catalog__text">
            Автоматизированные установки
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-2-icon.svg" class="type__icon-2" width="66"
            height="83" alt="Анализаторы металлов">
          <span class="type__text catalog__text">
            Анализаторы металлов
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-3-icon.svg" class="type__icon-3" width="80"
            height="53" alt="Дефектоскопы">
          <span class="type__text catalog__text">
            Дефектоскопы
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-4-icon.svg" class="type__icon-4" width="55"
            height="77" alt="Измерители прочности бетона">
          <span class="type__text catalog__text">
            Измерители прочности бетона
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-5-icon.svg" class="type__icon-5" width="90"
            height="67" alt="Комплекты ВИК">
          <span class="type__text catalog__text">
            Комплекты ВИК
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-6-icon.svg" class="type__icon-6" width="121"
            height="64" alt="Негатоскопы">
          <span class="type__text catalog__text">
            Негатоскопы
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-7-icon.svg" class="type__icon-7" width="92"
            height="75" alt="Оборудование Pragma">
          <span class="type__text catalog__text">
            Оборудование Pragma
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-8-icon.svg" class="type__icon-8" width="108"
            height="53" alt="Рентгенаппараты">
          <span class="type__text catalog__text">
            Рентгенаппараты
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-9-icon.svg" class="type__icon-9" width="45"
            height="91" alt="Тепловизоры">
          <span class="type__text catalog__text">
            Тепловизоры
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-10-icon.svg" class="type__icon-10" width="60"
            height="96" alt="Течеискатели">
          <span class="type__text catalog__text">
            Течеискатели
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-11-icon.svg" class="type__icon-11" width="55"
            height="92" alt="Толщиномеры">
          <span class="type__text catalog__text">
            Толщиномеры
          </span>
        </a>
      </li>
      <li class="type__item catalog__item">
        <a href="#" class="type__link catalog__link">
          <img loading="lazy" src="./img/icons/catalog/catalog-type-12-icon.svg" class="type__icon-12" width="44"
            height="91" alt="Наше производство">
          <span class="type__text catalog__text">
            Наше производство
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
