.clients {
  &__inner {
    padding-top: .9rem;
    padding-bottom: 2.6rem;
  }

  &__list {
    @include flex-all-center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__img {
    &-1 {
      width: 18.5rem;
    }

    &-2 {
      width: 18.1rem;
    }

    &-3 {
      width: 14.9rem;
    }

    &-4 {
      width: 21.6rem;
    }

    &-5 {
      width: 23.4rem;
    }
  }
}
