<section class="diagnostic">
  <div class="container">
    <h3 class="diagnostic__title">Диагностическое оборудование</h3>
    <div class="diagnostic__subtitle">собственного производства</div>
    <div class="diagnostic__texts">
      <p class="diagnostic__text">Диагностическое оборудование незаменимо для нефтегазовой отрасли, машиностроения и для многих других сфер деятельности. Оно используется на всех производственных этапах, начиная от добычи сырья и заканчивая поставкой конечного продукта потребителю.
      </p>
      <p class="diagnostic__text">Купить диагностическое оборудование – значит, сделать вклад в стабильность и процветание компании. С его помощью можно своевременно обнаружить дефекты и предотвратить потенциально аварийные ситуации. Техническое диагностическое оборудование позволяет обеспечить безопасность и людям, и окружающей среде.
      </p>
    </div>
    <a href="#" class="diagnostic__link more-button">подробнее</a>
  </div>
</section>
