<div class="info__inner">
  <div class="container-big">
    <div class="info__article">
      <h2 class="info__title">Мобильные передвижные лаборатории на базе шасси и блок-контейнера</h2>
      <div class="info__left">
        <p class="info__text">
          Компания «НК-Инновации ЮГ» освоила проектирование и производство мобильных и стационарных
          строительных лабораторий на базе блок-контейнеров всех типоразмеров (6, 8, 10 и 12 метров), а так же на базе
          шасси для городских условий эксплуатации и для трудно проходимых объектов на базе автомобилей повышенной
          проходимости.
        </p>
        <p class="info__text">
          Исследовательские строительные лаборатории широко применяются для контроля качества асфальта, грунта и бетона
          при строительстве и ремонте в полевых условиях. Лаборатория может быть спроектирована и произведена  с учетом
          эксплуатации в тяжелых климатических условиях крайнего севера, агрессивной либо засушливой среды. Любая
          лаборатория может быть оснащена системой кондиционирования, обогревом, автономной системой водоснабжения и
          электроснабжения. Планировка лаборатории осуществляется совместно с Заказчиком с учетом оптимального
          расположения мебели и планируемого к монтажу оборудования.
        </p>
        <p class="info__text">
          Наша компания имеет большой опыт поставок диагностического оборудования на протяжении более десяти лет, в
          процессе которых были выстроены дилерские  отношения  с большинством производителей в РФ. Это позволяет
          предоставлять заводские цены на оборудование для конечного Заказчика.
        </p>
        <p class="info__text">
          В активе нашей компании есть собственная производственная площадка и конструкторский отдел в г.Балашиха,
          Московской области.
        </p>
      </div>
    </div>
  </div>
</div>
