<div class="info__inner">
  <div class="container-big">
    <div class="info__article">
      <h2 class="info__title">
        Мобильные передвижные лаборатории на базе шасси и блок-контейнера
      </h2>
      <div class="info__content">
        <div class="info__left">
          <p class="info__text">
            Компания «НК-Инновации ЮГ» освоила проектирование и производство
            мобильных и стационарных строительных лабораторий на базе
            блок-контейнеров всех типоразмеров (6, 8, 10 и 12 метров), а так же
            на базе шасси для городских условий эксплуатации и для трудно
            проходимых объектов на базе автомобилей повышенной проходимости.
          </p>
          <p class="info__text">
            Исследовательские строительные лаборатории широко применяются для
            контроля качества асфальта, грунта и бетона при строительстве и
            ремонте в полевых условиях. Лаборатория может быть спроектирована и
            произведена  с учетом эксплуатации в тяжелых климатических условиях
            крайнего севера, агрессивной либо засушливой среды. Любая
            лаборатория может быть оснащена системой кондиционирования,
            обогревом, автономной системой водоснабжения и электроснабжения.
            Планировка лаборатории осуществляется совместно с Заказчиком с
            учетом оптимального расположения мебели и планируемого к монтажу
            оборудования.
          </p>
          <p class="info__text">
            Наша компания имеет большой опыт поставок диагностического
            оборудования на протяжении более десяти лет, в процессе которых были
            выстроены дилерские  отношения  с большинством производителей в РФ.
            Это позволяет предоставлять заводские цены на оборудование для
            конечного Заказчика.
          </p>
          <p class="info__text">
            В активе нашей компании есть собственная производственная площадка и
            конструкторский отдел в г.Балашиха, Московской области.
          </p>
        </div>
        <div class="info__slider">
          <div class="splide splide-main" id="splide-main-laboratories">
            <div class="splide__track">
              <ul class="splide__list list-reset splide-main__list">
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-car-1.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-car-1.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-1.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-car-2.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-car-2.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-2.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-car-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-car-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-car-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-car-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="splide splide-navigation"
            id="splide-navigation-laboratories"
          >
            <div class="splide__track">
              <ul class="splide__list list-reset splide-navigation__list">
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-car-1.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-car-1.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-1.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-car-2.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-car-2.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-2.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-car-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-car-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-car-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-car-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-car-3.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <a href="#" class="info__button">подробнее</a>
        </div>
      </div>
    </div>
    <div class="info__article">
      <h2 class="info__title">
        чередная разработка компании НК-Инновации ЮГ в 2022 году
      </h2>
      <div class="info__content">
        <div class="info__left">
          <p class="info__text">
            Уважаемые коллеги!<br />
            Предлагаем Вашему вниманию очередную разработку компании
            НК-Инновации ЮГ. Линейку пьезоэлектрических преобразователей
            собственного производства. На данный момент нашим производством
            освоен выпуск прямых совмещенных преобразователей П111, прямых
            раздельно-совмещенных преобразователей П112 частотой  5 и 2,5 мГц,
            наклонных совмещенных преобразователей П121 частотой  5 и 2,5 мГц с
            различными углами ввода (возможно производство притертых
            преобразователей по заказу)
          </p>
          <p class="info__text">
            Все преобразователи производства компании НК-Инновации ЮГ  проходят
            много ступенчатый контроль качества, начиная со входного контроля
            комплектующих.
          </p>
          <p class="info__text">
            Пьезоэлементы, используемые в производстве преобразователей
            изготавливаются  старейшим и самым крупным отечественным
            производителем пьезокерамики в России – Аврора-Элма  г.Волгоград  (
            зависимости от  импорта нет)
          </p>
          <p class="info__text">
            Заливка пьезоэлемента в корпусе осуществляется отечественными
            композитами, разработанными для оптимального соотношения сигнал-шум.
          </p>
          <p class="info__text">
            Производство призм для преобразователей осуществляется на новом,
            современном фрезерном станке с ЧПУ, что позволяет систематизировать
            соответствие всем геометрическим параметрам, установить высочайший
            стандарт качества и исключить человеческий фактор.
          </p>
          <p class="info__text">
            Литые композитные корпуса преобразователей имеют оптимальное
            соотношение износоустойчивости и веса. Эргономика продумана до
            мелочей, что позволяет производить контроль продолжительное время
            подряд (возможно производство любой модели преобразователя в
            стальном корпусе или в износоустойчивом исполнении по заказу)
          </p>
          <p class="info__text">
            Все преобразователи производства НК-Инновации ЮГ могут быть
            укомплектованы соединительными кабелями собственного производства
            (возможно производство кабелей отдельно от преобразователей по
            заказу)
          </p>
        </div>
        <div class="info__slider">
          <div class="splide splide-main" id="splide-main-develop">
            <div class="splide__track">
              <ul class="splide__list list-reset splide-main__list">
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-develop-img-1.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-develop-img-1.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-develop-img-1.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-develop-img-2.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-develop-img-2.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-develop-img-2.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-develop-img-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-develop-img-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-develop-img-3.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-develop-img-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-develop-img-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-develop-img-3.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <div class="splide splide-navigation" id="splide-navigation-develop">
            <div class="splide__track">
              <ul class="splide__list list-reset splide-navigation__list">
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-develop-img-1.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-develop-img-1.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-develop-img-1.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-develop-img-2.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-develop-img-2.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-develop-img-2.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-develop-img-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-develop-img-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-develop-img-3.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-develop-img-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-develop-img-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-develop-img-3.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <a href="#" class="info__button">подробнее</a>
        </div>
      </div>
    </div>
    <div class="info__article">
      <h2 class="info__title">Светодиодный негатоскоп ИННОВАТОР-1</h2>
      <div class="info__content">
        <div class="info__left">
          <p class="info__text">
            Негатоскоп компактный «Инноватор-1» предназначен для просмотра и
            расшифровки радиографических снимков как нормальной, так и
            повышенной оптической плотности.
          </p>
          <p class="info__text">
            Собственная разработка компании НК-Инновации ЮГ — светодиодный
            негатоскоп ИННОВАТОР-1.
          </p>
          <p class="info__text">
            Плавная регулировка яркости на корпусе негатотоскопа от 10 000 до
            120 000 >кд/м².
          </p>
          <p class="info__text">
            Улучшенная система теплоотвода,4 мощных кулера с автоматической
            регулировкой оборотов.
          </p>
          <p class="info__text">
            Размеры просмотрового экрана, мм: 400х100<br />
            Максимальная плотность просматриваемого снимка, Б: 4.5<br />
            Неравномерность яркости просмотрового экрана, %: не более 3<br />
            Максимальная яркость просмотрового экрана,  кд/м²: 120 000
          </p>
          <p class="info__text">
            Диапазон регулировки яркости, кд/м²: от 10 000 до 115 000<br />
            Напряжение питания, В/Гц: 220/50<br />
            Потребляемая мощность, Вт: не более 200<br />
            Габаритные размеры, мм: не более 500х300х150<br />
            Масса, кг: не более 6
          </p>
        </div>
        <div class="info__slider">
          <div class="splide splide-main" id="splide-main-innovator">
            <div class="splide__track">
              <ul class="splide__list list-reset splide-main__list">
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-innovator-1.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-innovator-1.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-innovator-1.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-innovator-2.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-innovator-2.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-innovator-2.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-innovator-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-innovator-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-innovator-3.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-innovator-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-innovator-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-innovator-3.jpg"
                      class="splide__main-img"
                      width="440"
                      height="294"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <div class="splide splide-navigation" id="splide-navigation-innovator">
            <div class="splide__track">
              <ul class="splide__list list-reset splide-navigation__list">
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-innovator-1.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-innovator-1.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-innovator-1.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-innovator-2.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-innovator-2.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-innovator-2.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-innovator-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-innovator-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-innovator-3.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="./img/production/production-innovator-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="./img/production/production-innovator-3.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/production/production-innovator-3.jpg"
                      class="splide-navigation__silde-img"
                      alt="Автомобиль"
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <a href="#" class="info__button">подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>
