.info {
  &__inner {
    padding-top: 27px;
    padding-bottom: 150px;
  }

  &__article {
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 56px;

    &:not(:first-child) {
      padding-top: 31px;
    }
  }

  &__title {
    margin-bottom: 25px;
    max-width: 480px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black-color);
  }

  &__content {
    display: flex;
    align-items: center;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__slider {
    text-align: center;
  }

  &__button {
    padding: 4px 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--light-color);
    background: var(--accent-color);
  }

  &__left {
    max-width: 397px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: var(--grey3-color);

    &:first-child {
      margin-bottom: 25px;
    }

    &:last-child {
      margin-top: 25px;
    }
  }
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none;
}

.splide-main {
  &__slide {
    text-align: center;
  }

  @include small-tablet {
    margin-top: 30px;
  }
}

.splide-navigation {
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 30px;
  max-width: 357px;
}

.splide__arrows {
  .splide__arrow--prev {
    left: -3em;
  }

  .splide__arrow--next {
    right: -3em;
  }

  @include mobile {
    display: none;
  }
}
