<div class="single-mobile-laboratories__inner">
  <div class="container-small single-mobile-laboratories__container">
    <div class="single-mobile-laboratories__content">
      <div class="single-mobile-laboratories__left">
        <p class="single-mobile-laboratories__left-text">
          Компания «НК-Инновации ЮГ» освоила проектирование и производство мобильных и стационарных строительных
          лабораторий на базе блок-контейнеров всех типоразмеров (6, 8, 10 и 12 метров), а так же на базе шасси для
          городских условий эксплуатации и для трудно проходимых объектов на базе автомобилей повышенной проходимости.
        </p>
      </div>
      <div class="single-mobile-laboratories__cards">
        <div class="single-mobile-laboratories__card">
          <a href="#" class="single-mobile-laboratories__card-button">подробнее</a>
        </div>
        <div class="single-mobile-laboratories__card">
          <a href="#" class="single-mobile-laboratories__card-button">подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>
