<div class="ufa-defectoscopist__inner">
  <div class="container-small ufa-defectoscopist__container">
    <div class="ufa-defectoscopist__article">
      <div class="ufa-defectoscopist__content">
        <div class="ufa-defectoscopist__left">
          <h2 class="ufa-defectoscopist__title">
            Опубликовано:
            <span class="ufa-defectoscopist__title--red">18 июля 2022</span>
            Уважаемые коллеги!
          </h2>
          <p class="ufa-defectoscopist__text">
            В мае 2022 года в г.Уфа прошел этап конкурса Дефектоскопист-2022.Где
            основные «баталии» развернулись на поле рентгеновского контроля!
            Наша компания выступила спонсором данного мероприятия, все столы
            конкурсантов были оборудованы 16-ти сегментными негатоскопами нашей
            разработки- Инноватор-4.Победителем стал представитель АО
            «Транснефть-Урал»  — главный специалист по НК Аликов Э.Ю.
            Поздравляем победителя и прикрепляем отзыв о работе нашей новейшей
            разработки, после продолжительной работы в жестких условиях.
          </p>
        </div>
        <div class="ufa-defectoscopist__slider">
          <div class="splide splide-main" id="splide-main-defectoscopist">
            <div class="splide__track">
              <ul class="splide__list list-reset splide-main__list">
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-1.avif
                      "
                      type="image/avif"
                    />
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-1.webp
                      "
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/ufa-defectoscopist/ufa-defectoscopist-img-1.jpg"
                      class="splide__main-img"
                      width="494"
                      height="329"
                      alt=""
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-2.avif
                      "
                      type="image/avif"
                    />
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-2.webp
                      "
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/ufa-defectoscopist/ufa-defectoscopist-img-2.jpg"
                      class="splide__main-img"
                      width="494"
                      height="329"
                      alt=""
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-3.avif
                      "
                      type="image/avif"
                    />
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-3.webp
                      "
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/ufa-defectoscopist/ufa-defectoscopist-img-3.jpg"
                      class="splide__main-img"
                      width="494"
                      height="329"
                      alt=""
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-main__slide">
                  <picture>
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-3.avif
                      "
                      type="image/avif"
                    />
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-3.webp
                      "
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/ufa-defectoscopist/ufa-defectoscopist-img-3.jpg"
                      class="splide__main-img"
                      width="494"
                      height="329"
                      alt=""
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="splide splide-navigation"
            id="splide-navigation-defectoscopist"
          >
            <div class="splide__track">
              <ul class="splide__list list-reset splide-navigation__list">
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img.avif
                      "
                      type="image/avif"
                    />
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-1.webp
                      "
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/ufa-defectoscopist/ufa-defectoscopist-img-1.jpg"
                      class="splide-navigation__silde-img"
                      width="154"
                      height="99"
                      alt=""
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-2.avif
                      "
                      type="image/avif"
                    />
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-2.webp
                      "
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/ufa-defectoscopist/ufa-defectoscopist-img-2.jpg"
                      class="splide-navigation__silde-img"
                      width="154"
                      height="99"
                      alt=""
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-3.avif
                      "
                      type="image/avif"
                    />
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-3.webp
                      "
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/ufa-defectoscopist/ufa-defectoscopist-img-3.jpg"
                      class="splide-navigation__silde-img"
                      width="154"
                      height="99"
                      alt=""
                    />
                  </picture>
                </li>
                <li class="splide__slide splide-navigation__slide">
                  <picture>
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-3.avif
                      "
                      type="image/avif"
                    />
                    <source
                      srcset="
                        ./img/ufa-defectoscopist/ufa-defectoscopist-img-3.webp
                      "
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="./img/ufa-defectoscopist/ufa-defectoscopist-img-3.jpg"
                      class="splide-navigation__silde-img"
                      width="154"
                      height="99"
                      alt=""
                    />
                  </picture>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
