<div class="contact__inner">
  <div class="container-small contact__container">
    <h1 class="contact__title">Контакты</h1>
    <div class="contact__maps">
      <div class="contact__data">
        <div class="contact__data-description">
          <h3 class="contact__data-title">НК-Инновации ЮГ</h3>
          <p class="contact__data-time">Самара с 08-00 до 17-00</p>
          <div class="contact__data-address">г. Самара, ул. Чернореченская, д. 6</div>
          <a href="tel:78463004290" class="contact__data-phone">8 (846) 300-42-90</a>
          <a href="mailto:info@ndt-innovation.ru" class="contact__data-mail">info@ndt-innovation.ru</a>
        </div>
        <div class="contact__map"></div>
      </div>
      <div class="contact__data">
        <div class="contact__data-description">
          <h3 class="contact__data-title">НК-Инновации ЮГ</h3>
          <p class="contact__data-time">Самара с 08-00 до 17-00</p>
          <div class="contact__data-address">г. Самара, ул. Чернореченская, д. 6</div>
          <a href="tel:78463004290" class="contact__data-phone">8 (846) 300-42-90</a>
          <a href="mailto:info@ndt-innovation.ru" class="contact__data-mail">info@ndt-innovation.ru</a>
        </div>
        <div class="contact__map"></div>
      </div>
    </div>
  </div>
</div>
