<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <h1 class="hero__title">Каталог оборудования технической диагностики</h1>
      <p class="hero__text">Каталог оборудования, поставляемого нашей компанией, содержит большой перечень товаров. Мы
        предлагаем самые современные технические устройства для диагностики в различных сферах деятельности.
        Благодаря диагностическому оборудованию из каталога НК-Инновации ЮГ проверяется безопасность и эффективность
        работы на машиностроительных и электроэнергетических предприятиях, проводятся проверки организаций химической и
        нефтехимической отрасли. Мы поставляем устройства для диагностики на предприятиях легкой промышленности и других
        отраслей.
      </p>
    </div>
    <picture>
      <source srcset="./img/hero-img.avif" type="image/avif">
      <source srcset="./img/hero-img.webp" type="image/webp">
      <img loading="lazy" src="./img/hero-img.png" class="hero__img" width="246" height="249" alt="Прибор">
    </picture>
  </div>
</section>
