.footer {
  &__left {
    max-width: 285px;

    @include small-tablet {
      max-width: 400px;
      text-align: center;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 5px;
  }

  &__left-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: var(--light-color);
  }
}
