.footer {
  &__right {
    max-width: 130px;
  }

  &__right-title {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--accent-color);
  }

  &__contacts {
    @include flex-all-center;

    gap: 0 6px;
    flex-wrap: wrap;
  }
}
