<div class="automated-control__inner">
  <div class="container-small automated-control__container">
    <h1 class="automated-control__title">
      Оборудование для автоматизированного контроля на производстве
    </h1>
    <ul class="automated-control__products list-reset">
      <li class="automated-control__product">
        <picture>
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/automated-control/grp-ultrasonic-unit.jpg"
            class="automated-control__product-img"
            width="161"
            height="132"
            alt="Автоматизированный контроль на производстве"
          />
        </picture>
        <h3 class="automated-control__product-title">
          GRP установка для контроля труб диаметром от 20 до 660 мм
          ультразвуковая
        </h3>
        <a href="#" class="automated-control__product-button"
          >добавить в корзину</a
        >
      </li>
      <li class="automated-control__product">
        <picture>
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/automated-control/grp-ultrasonic-unit.jpg"
            class="automated-control__product-img"
            width="161"
            height="132"
            alt="Автоматизированный контроль на производстве"
          />
        </picture>
        <h3 class="automated-control__product-title">
          GRP установка для контроля труб диаметром от 20 до 660 мм
          ультразвуковая
        </h3>
        <a href="#" class="automated-control__product-button"
          >добавить в корзину</a
        >
      </li>
      <li class="automated-control__product">
        <picture>
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/automated-control/grp-ultrasonic-unit.jpg"
            class="automated-control__product-img"
            width="161"
            height="132"
            alt="Автоматизированный контроль на производстве"
          />
        </picture>
        <h3 class="automated-control__product-title">
          GRP установка для контроля труб диаметром от 20 до 660 мм
          ультразвуковая
        </h3>
        <a href="#" class="automated-control__product-button"
          >добавить в корзину</a
        >
      </li>
      <li class="automated-control__product">
        <picture>
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/automated-control/grp-ultrasonic-unit.jpg"
            class="automated-control__product-img"
            width="161"
            height="132"
            alt="Автоматизированный контроль на производстве"
          />
        </picture>
        <h3 class="automated-control__product-title">
          GRP установка для контроля труб диаметром от 20 до 660 мм
          ультразвуковая
        </h3>
        <a href="#" class="automated-control__product-button"
          >добавить в корзину</a
        >
      </li>
      <li class="automated-control__product">
        <picture>
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/automated-control/grp-ultrasonic-unit.jpg"
            class="automated-control__product-img"
            width="161"
            height="132"
            alt="Автоматизированный контроль на производстве"
          />
        </picture>
        <h3 class="automated-control__product-title">
          GRP установка для контроля труб диаметром от 20 до 660 мм
          ультразвуковая
        </h3>
        <a href="#" class="automated-control__product-button"
          >добавить в корзину</a
        >
      </li>
      <li class="automated-control__product">
        <picture>
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.avif"
            type="image/avif"
          />
          <source
            srcset="./img/automated-control/grp-ultrasonic-unit.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/automated-control/grp-ultrasonic-unit.jpg"
            class="automated-control__product-img"
            width="161"
            height="132"
            alt="Автоматизированный контроль на производстве"
          />
        </picture>
        <h3 class="automated-control__product-title">
          GRP установка для контроля труб диаметром от 20 до 660 мм
          ультразвуковая
        </h3>
        <a href="#" class="automated-control__product-button"
          >добавить в корзину</a
        >
      </li>
    </ul>
    <div class="automated-control__description">
      <p class="automated-control__descr">
        Компания НК-Инновации ЮГ предлагает купить оборудование автоматического
        контроля на производстве ведущих в этой сфере производителей. Звоните: 8
        (499) 495-46-92 в Москве, 8 (846) 300-42-90 в Самаре. Проконсультируем,
        ответим на все вопросы, поможем с выбором.
      </p>
      <p class="automated-control__descr">
        Имеем многолетний опыт поставок оборудования разрушающего и
        неразрушающего контроля. Наши дилерские отношения со всеми
        производителями оборудования и расходных материалов для неразрушающего и
        разрушающего контроля сказывается положительно на ценообразовании
        товаров и услуг для наших партнеров.
      </p>
    </div>
  </div>
</div>
