<section class="equipment-form">
  <div class="container-big equipment-form__container">
    <div class="equipment-form__left">
      <h2 class="equipment-form__title">Подберите комплекс оборудования</h2>
      <p class="equipment-form__text">Экономьте время на подбор оборудования <br /> Укажите ваши задачи контроля и
        получите полный списокоборудования с ценами и сроками поставки.</p>

      <div class="equipment-form__icons">
        <img loading="lazy" src="./img/icons/equipment-form/equipment-form-1-icon.svg" width="81" height="53"
          alt="Оборудование">
        <img loading="lazy" src="./img/icons/equipment-form/equipment-form-2-icon.svg" width="55" height="77"
          alt="Оборудование">
        <img loading="lazy" src="./img/icons/equipment-form/equipment-form-3-icon.svg" width="41" height="77"
          alt="Оборудование">
      </div>
    </div>
    <div class="equipment-form__right">
      <div class="equipment-form__form-title">Получите список оборудования с ценами и сроками поставки</div>
      <form class="equipment-form__form">
        <div class="equipment-form__inputs">
          <input type="text" class="equipment-form__input" name="task" placeholder="ваша задача" required>
          <input type="text" class="equipment-form__input" name="full-name" placeholder="Ф.И.О" required>
          <input type="text" class="equipment-form__input" name="city" placeholder="ваш город" required>
          <input type="text" class="equipment-form__input" name="phone" placeholder="телефон" inputmode="tel" required>
        </div>
        <button type="submit" class="equipment-form__btn more-button">заказать</button>
      </form>
    </div>
  </div>
</section>
